.btn {
  cursor: pointer;
  color: red;
  border-image: fill;
  background-color: rgb(48, 43, 13);
  padding: 100px 50px 100px 50px;
  border: 3px double red;
  margin: 0 auto;
  width: 50%;
}
.invisible {
  display: none;
}
.body {
  background-color: red;
}
.d {
  background-color: aqua;
  color: blue;
  width: 50px;
  height: 50px;
  font-size: 36px;
  text-align: center;
  margin: 10px;
  flex-shrink: 1;
}
